# Python
.venv/
__pycache__/

# Secrets
.env

# OS
.DS_Store

# Logs 
logs/

# Smart Planning
smart-planning_v1/example_snapshots/
smart-planning_v1/docs/
smart-planning_v1/snapshots-ai/
smart-planning_v1/system-logs/
smart-planning_v1/get_token.ps1